body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container-fluid {
    padding-top: 50px;
}

h1 {
    font-size: 2.5rem;
}

.btn-toggle {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #17a2b8;
    color: #fff;
    font-size: 24px;
}

.btn-toggle:hover {
    background-color: #138496;
}

.swal2-popup {
    font-size: 1.2rem;
}

.swal2-title {
    font-size: 1.5rem;
    color: #333;
}

.swal2-content {
    font-size: 1.3rem;
    color: #555;
}

.swal2-confirm {
    font-size: 1.2rem;
}