body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    transform: scale(1.25);
}

.container-fluid {
    padding-top: 50px;
}

h1 {
    font-size: 2.5rem;
}

.btn-toggle {
    height: 38px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #17a2b8;
    color: #fff;
    font-size: 24px;
    padding: 0;
    margin-top: 32px; 
}

.btn-toggle:hover {
    background-color: #138496;
}
